<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.brownshoe.bfstatsrcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.brownshoe.bfstatsrcp.Perspective"
            id="BFStatsRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Player Stats"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.brownshoe.bfstatsrcp.View"
            id="BFStatsRCP.view">
      </view>
      <view
            name="Shazam!"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.brownshoe.bfstatsrcp.NavigationView"
            id="BFStatsRCP.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Online Players"
            id="BFStatsRCP.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="BFStatsRCP.category"
            id="BFStatsRCP.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="BFStatsRCP.category"
            id="BFStatsRCP.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="BFStatsRCP.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="BFStatsRCP.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="BFStatsRCP.application"
            name="BFStatsRCP">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
